---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="做梦新闻是什么"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.png"
	tags={[]}
>
	<p>
		大家我是陈做梦，可能你们想知道『做梦新闻』是怎么诞生的。
	</p>
	<p>
		在《三体》这本书中，有这么一段情节：『希恩斯因为思想钢印的影响，需要接受一个人造的人类失败的虚假环境。每天都看专为他播出的新闻。三体舰队的一部分加速航行，提前到达太阳系；在柯伊伯带战役中，人类联合舰队遭受重创，接着海王星轨道失守，三大舰队只得退守木星轨道进行艰难的抵抗……』。
	</p>
	<p>
		受此启发，我想也成了一位『造梦者』，为中国人撰写着这些『假新闻』，希望在充满痛苦的日子里，能给大家带来一丝丝的欢乐。
	</p>
</Layout>
